
// $utilities: map-merge(
//     $utilities,(
//     "overflow": map-merge(map-get($utilities, "overflow"), (
//         responsive: true,
//         property: overflow,
//         state: hover,
//         class: overflow,
//         values: (
//             auto: auto,
//             hidden: hidden,
//             visible: visible,
//             scroll: scroll
//             )
//         )),
//     "overflow-x": map-merge(map-get($utilities, "overflow"), (
//         responsive: true,
//         state: hover,
//         property: overflow-x,
//         class: overflow-x
//         )),
//     "overflow-y": map-merge(map-get($utilities, "overflow"), (
//         responsive: true,
//         state: hover,
//         property: overflow-y,
//         class: overflow-y
//         )),
//     )
// );

.bg-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.object-fit-cover{
    object-fit: cover;
}

.vertical-align-middle{
    vertical-align: middle;
}

.overflow-x-auto{
    overflow-x: auto;
}

.overflow-y-hidden{
    overflow-y: hidden;
}