
.exhibitions{
    // .card-title{
    //     @include media-breakpoint-down(md) {
    //         font-size: 30px;
    //     }
    // }

    .card-img-section{
        width: 350px;
        height: 350px;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
}

.exhibition-date{
    right: 24px;
    height: calc(100% - 80px);
}

.product{
    @include media-breakpoint-up(md) {
        padding-bottom: 52px;
    }
}

.product-title{
    @include media-breakpoint-up(md) {
        font-size: 36px;
    }
}

.product-date{
    @include media-breakpoint-up(md) {
        height: 100%;
        font-size: 20px;
    }
}